<mat-toolbar class="mat-elevation-z3">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <nav fxLayout="row">
      <span routerLink="/home" class="title-principal">
        <strong class="blue">Identity<span class="blue-light">Money</span></strong>
      </span>
      <div *ngIf="!deviceXs">
        <button mat-button routerLink="/all-validation">Validations</button>
        <button mat-button routerLink="/profile">Profile</button>
      </div>
    </nav>
    <app-balance></app-balance>
    <button *ngIf="!logged" mat-raised-button color="primary" (click)="login()">Login</button>
    <button *ngIf="logged" mat-raised-button color="primary" (click)="logout()">Logout</button>

  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs">
    <nav fxLayout="row">
      <div *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <button mat-button routerLink="/all-validation">Validations</button>
        <button mat-button routerLink="/profile">Profile</button>
      </div>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<section class="main">
  <div class="background">
    <router-outlet></router-outlet>
  </div>
</section>