.direction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
}

.direction-link {
    display: flex;
    justify-content: inherit;
    align-items: center;
    width: 29%;
}

.blue {
    color: #0D47A1;
}

.blue-light {
    color: #80DEEA;
}

.main {
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #82B1FF;
}
.title-principal {
    cursor: pointer;
}