.wallet-title-color {
    color: #42A5F5;
}
.wallet-number {
    font-size: 13px;
    color: #BDBDBD;
}
.photo-identity {
    width: 30%;
}
.identity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.peding-main {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
}

.buttons {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-green {
    background-color: #4CAF50;
    color: #FFF;
}

.button-yellow {
    background-color: #FFEB3B;
    color: #000;
}
