<section class="peding-main">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title fxLayout="column" fxLayoutAlign="center center" class="wallet-title-color">
                    Wallet for validation
                </mat-panel-title>
                <mat-panel-description>
                    {{ wallet }}
                </mat-panel-description >
                <mat-panel-description>
                    {{ price }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="identity">
                <img src="../../../assets/img/identity.png" class="photo-identity">
                <p class="wallet-title-color">Documento de identidade</p>
                <p class="wallet-number">{{ document }}</p>
            </div>
            <p>Existe outros campos dentro desta solicitação, clique no box para verificar todos os detalhes.
                Lembre-se que todas as validações devem seguir rigorasamente os termos de uso desta aplicação.
            </p>

            <div class="buttons">
                <button mat-raised-button class="button-green">Validate</button>
                <button mat-raised-button>Cannot evaluate</button>
                <button mat-raised-button class="button-yellow">Pending</button>
                <button mat-raised-button color="warn">Not validate</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="wallet-title-color">
                    Wallet for validation
                </mat-panel-title>
                <mat-panel-description>
                    {{ wallet }}
                </mat-panel-description>
                <mat-panel-description>
                    {{ price }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="identity">
                <img src="../../../assets/img/identity.png" class="photo-identity">
                <p class="wallet-title-color">Documento de identidade</p>
                <p class="wallet-number">{{ document }}</p>
            </div>
            <p>Existe outros campos dentro desta solicitação, clique no box para verificar todos os detalhes.
                Lembre-se que todas as validações devem seguir rigorasamente os termos de uso desta aplicação.
            </p>

            <div class="buttons">
                <button mat-raised-button class="button-green">Validate</button>
                <button mat-raised-button>Cannot evaluate</button>
                <button mat-raised-button class="button-yellow">Pending</button>
                <button mat-raised-button color="warn">Not validate</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="wallet-title-color">
                    Wallet for validation
                </mat-panel-title>
                <mat-panel-description>
                    {{ wallet }}
                </mat-panel-description>
                <mat-panel-description>
                    {{ price }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="identity">
                <img src="../../../assets/img/identity.png" class="photo-identity">
                <p class="wallet-title-color">Documento de identidade</p>
                <p class="wallet-number">{{ document }}</p>
            </div>
            <p>Existe outros campos dentro desta solicitação, clique no box para verificar todos os detalhes.
                Lembre-se que todas as validações devem seguir rigorasamente os termos de uso desta aplicação.
            </p>

            <div class="buttons">
                <button mat-raised-button class="button-green">Validate</button>
                <button mat-raised-button>Cannot evaluate</button>
                <button mat-raised-button class="button-yellow">Pending</button>
                <button mat-raised-button color="warn">Not validate</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="wallet-title-color">
                    Wallet for validation
                </mat-panel-title>
                <mat-panel-description>
                    {{ wallet }}
                </mat-panel-description>
                <mat-panel-description>
                    {{ price }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section class="identity">
                <img src="../../../assets/img/identity.png" class="photo-identity">
                <p class="wallet-title-color">Documento de identidade</p>
                <p class="wallet-number">{{ document }}</p>
            </section>
            <footer>
                <p>Existe outros campos dentro desta solicitação, clique no box para verificar todos os
                    detalhes.
                    Lembre-se que todas as validações devem seguir rigorasamente os termos de uso desta
                    aplicação.
                </p>

                <div class="buttons">
                    <button mat-raised-button class="button-green">Validate</button>
                    <button mat-raised-button>Cannot evaluate</button>
                    <button mat-raised-button class="button-yellow">Pending</button>
                    <button mat-raised-button color="warn">Not validate</button>
                </div>
            </footer>
        </mat-expansion-panel>
    </mat-accordion>
</section>