<section fxLayoutAlign="center center" fxFlexFill>
    <main>
        <header>
            <p>IdentityMoney</p>
        </header>
        <header class="content">
            <mat-card class="card main">
                <mat-toolbar class="toolbar">Welcome</mat-toolbar>
                <h1>Select one strategy</h1>
                <form>
                    <mat-form-field>
                        <mat-label>Select an option</mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option value="charged">For charged</mat-option>
                            <mat-option value="free">For free</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>You selected: {{selected}}</p>
                    <button mat-raised-button>Login</button>
                </form>
            </mat-card>
        </header>
    </main>
</section>