.content {
    position: relative;
    width: 100%;
    text-align: center;
}

.toolbar {
    display: flex;
    justify-content: center;
    background: #1976D2;
    color: #fff;
    text-align: center;
    font-size: 1.9rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card {
    width: 30vw;
    height: 45vh;
    margin-top: 35%;
}

mat-card {
    border-radius: 20px;
}

h1 {
    margin-top: 5%;
}
.main {
    padding: 0;
}

p {
    color: #fff;
    text-align: center;
    font-size: 2.3rem;
}

.form-strategy {
    display: flex;
    flex-direction: column;
    align-items: center;
}