<div>
    <app-balance></app-balance>
</div>

<main class="main-spacing">
    <section class="main-home">
        <mat-card class="cards mat-elevation-z4">
            <mat-card-header class="header-pending">
                <div class="title-validations">
                    <p class="title">Pending validation</p>
                    <button routerLink="/request-loot" mat-raised-button class="button-color">Request loot</button>
                </div>
            </mat-card-header>

            <section class="peding-section">
                    <app-peding-validations></app-peding-validations>
            </section>
        </mat-card>

        <div class="validates-notValidate">
            <mat-card class="mat-elevation-z4 validations">
                <app-validate class="last-validations"></app-validate>
            </mat-card>
            <mat-card class="mat-elevation-z4 validations">
                <app-not-validate class="last-validations"></app-not-validate>
            </mat-card>
        </div>
    </section>
</main>