.card-aside {
    height: 100vh;
    width: 29vw;
    border-radius: 20px;
    margin-top: 4%;
}

.photo-dimension {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

.photo {
    height: 50%;
}

.informations {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.main-profile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 5%;
    font-size: 1.3rem;
}

.font-color {
    color: #B0BEC5;
}

.button {
    margin-top: 2%;
}


.button-color {
    background: #42A5F5;
    color: white;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: .5s;
}

a:hover {
    color: #42A5F5;
}

.status {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}